#stage > div {
    height: 240px;
}
.controls-container {
    min-height: 340px;
}
.stream {
    height: 240px;
    position: relative;
}
.action-buttons {
    position: absolute;
    bottom: 10px;
    left: 0;
    z-index: 2;
    text-align: center;
    width: 100%;
}
